* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*css 初始化 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}

/*将标签原有的默认内外边距去掉*/

fieldset,
img,
input,
button {
  border: none;
  /*去掉边框*/
  padding: 0;
  margin: 0;
  outline-style: none;
  /*去掉环绕边框*/
}

ul,
ol {
  list-style: none;
  /*去掉原样式中的小黑点*/
  /*ctrl+alt+l*/
}

input {
  padding-top: 0;
  padding-bottom: 0;

}

select,
input {
  vertical-align: middle;
  /*输入字居中显示*/
}

select,
input,
textarea {
  font-size: 0.21875rem;
  margin: 0;
}

/**/
textarea {
  resize: none;
  /*防止拖动*/
}

img {
  border: 0;
  vertical-align: middle;
  /*  去掉图片底部默认的3像素空白缝隙*/
}

table {
  border-collapse: collapse;
  /*合并外边线*/
}

/* 谷歌滚动调样式 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute
}

::-webkit-scrollbar-thumb {
  background-color: #5bc0de
}

[v-cloak] {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  background: url(../img/animation5.gif) no-repeat top center;
  background-size: 100% 100%;
}
#animation{
  text-align: center;
}
.show{
  width: 3.90625rem;
  height: 3.90625rem;
  margin-top: 12%;
  visibility: hidden;
}
.logo{
  position: absolute;
  left: 0;
  height: 1.171875rem;
}
.type_title {
  visibility: hidden;
}
.p1,.p2,.p3,.p4,.p5{
  background: url(../img/a-border1.png) no-repeat top center;
  background-size: 100% 100%;
  position: absolute;
  width: 7.5rem;
  height: 3.75rem;
  color: #f8c454;
  font-size: .4375rem;
  letter-spacing: 2px;
  line-height: 3.59375rem;
  cursor: pointer;
}
.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover{
  background: url(../img/a-border2.png) no-repeat top center;
  background-size: 100% 100%;
}
.p1{
  top: .078125rem;
  left: 8.125rem;
}
.p2{
  top: 2.5rem;
  left: 2.1875rem;
}
.p3 {
  top: 4.609375rem;
  left: .78125rem;
}

.p4 {
  top: 2.5rem;
  left: 14.21875rem;
}
.p5{
  top: 4.609375rem;
  left: 15.546875rem;
}