<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>数据分析</title>
  <link rel="stylesheet" href="../css/dataAnalysis.css">
  <link rel="stylesheet" href="../css/elementUI/lib-master/theme-chalk/index.css" />
</head>

<body>
  <div id="data" v-cloak>
    <div class="show-time" id="localtime"></div>
    <!-- 主体 -->
    <section class="mainbox">
      <!-- column1 -->
      <div class="column">
        <div class="column_box1">
          <div class="head_style">
            <div class="font_style">人员结构</div>
          </div>
          <el-carousel type="card" arrow="always" :loop="false" :initial-index="1" indicator-position="none"
            height="120px" :autoplay="false">
            <el-carousel-item v-for="(item, index) in data" :key="index">
              <div class="card_box">
                <div class="nickname">
                  {{item.name}}
                </div>
                <div class="nicknum">
                  {{item.num}}
                </div>
              </div>
            </el-carousel-item>
          </el-carousel>
        </div>
        <div class="column_box1">
          <div id="bar1" class="echarts_style"></div>
          <div class="chart"></div>
        </div>
        <div class="column_box1">
          <div id="bar2" class="echarts_style"></div>
          <div class="chart"></div>
        </div>
        <div class="column_box1">
          <div id="pie" class="echarts_style"></div>
          <div class="chart"></div>
        </div>
      </div>
      <!-- column2 -->
      <div class="column">
        <div class="column_box2">
          <div class="top">
            <ul class="clearfix">
              <!-- 2021-3-8 -->
              <li><a href="dataAnalysis.html" class="act">
                  <div class="title">数据分析</div>
                </a></li>
              <li><a href="propress.html">
                  <div class="title">进度分析</div>
                </a></li>
              <li><a href="effect.html">
                  <div class="title">效果分析</div>
                </a></li>
              <li><a href="service.html">
                  <div class="title">三双一服务</div>
                </a></li>
              <li><a href="sendOrder.html">
                  <div class="title">派单接单</div>
                </a></li>
              <li><a href="teamBuilding.html">
                  <div class="title">队伍建设</div>
                </a></li>
              <li><a href="villagersTalk.html">
                  <div class="title">村民说事</div>
                </a></li>
              <!-- 2021-3-8 -->
            </ul>
          </div>
        </div>
        <div class="column_box2">
          <!-- 2021-3-10 -->
          <div class="map" id="map">
            <div class="location1"></div>
            <div class="location1-1">呼图壁县</div>
            <div class="location2"></div>
            <div class="location2-1" @click="getTownList('玛纳斯县')">玛纳斯县</div>
            <div class="location3"></div>
            <div class="location3-1">昌吉市</div>
            <div class="location4"></div>
            <div class="location4-1">阜康市</div>
            <div class="location5"></div>
            <div class="location5-1">吉木萨尔县</div>
            <div class="location6"></div>
            <div class="location6-1">奇台县</div>
            <div class="location7"></div>
            <div class="location7-1">木垒哈萨克自治州</div>
          </div>
          <div class="name" id="name">
            <div class="name_a">
              <div class="name_a_1" v-for="(item,index) in dataList2" :key="index" @click="getVillageList(item)">
                {{item.name}}</div>
            </div>
          </div>
          <!-- 2021-3-10 -->
        </div>
        <div class="column_box2">
          <div class="echarts">
            <div class="echarts_box" style="flex:1">
              <div class="pie1">
                <div>121</div>
              </div>
              <p class="title">村数</p>
            </div>
            <div class="echarts_box" style="flex:1">
              <div class="pie2">
                <div>113</div>
              </div>
              <p class="title">社区数</p>
            </div>
            <div class="echarts_box" style="flex:1">
              <div class="pie3">
                <div>123</div>
              </div>
              <p class="title">工作队数</p>
            </div>
            <div class="echarts_box" style="flex:1">
              <div class="pie4">
                <div>115</div>
              </div>
              <p class="title">党组织数</p>
            </div>
          </div>
        </div>
      </div>
      <!-- column3 -->
      <div class="column">
        <div class="column_box3">
          <div class="head_style">
            <div class="font_style">组织结构</div>
          </div>
          <el-carousel type="card" arrow="always" :loop="false" :initial-index="1" indicator-position="none"
            height="120px" :autoplay="false">
            <el-carousel-item v-for="(item, index) in data" :key="index">
              <div class="card_box">
                <div class="nickname">
                  {{item.name}}
                </div>
                <div class="nicknum">
                  {{item.num}}
                </div>
              </div>
            </el-carousel-item>
          </el-carousel>
        </div>
        <div class="column_box3">
          <div class="name">村级党组织</div>
          <div id="bar3" class="echarts_style" style="height: 100%;"></div>
          <div class="chart"></div>
        </div>
        <div class="column_box3">
          <div class="name">社区党组织</div>
          <div id="bar4" class="echarts_style" style="height: 100%;"></div>
          <div class="chart"></div>
        </div>
      </div>
    </section>

  </div>
</body>
<script src="../js/flexible.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/dataAnalysis.js"></script>
<script src="../js/jquery.js"></script>
<script src="../js/vue/vue.js"></script>
<script src="../js/common.js"></script>
<script src="../css/elementUI/lib-master/index.js"></script>
<script>
  $(function () {
    $('.top ul li a').on('click', function () {
      $('.top ul li a').removeClass('act');
      $(this).addClass('act');
    })
  })
  new Vue({
    el: "#data",
    data() {
      return {
        data: [{
            name: '村干部',
            num: '30'
          }, {
            name: '社区干部',
            num: '30'
          }, {
            name: '工作队伍',
            num: '30'
          }, {
            name: '村干部1',
            num: '30'
          },
          {
            name: '村干部2',
            num: '30'
          }
        ],
        /* 2021-3-10 */
        dataList: [{
          name: '玛纳斯县',
          children: [{
            name: '包家店镇',
            children: [{
              name: '包家店村'
            }, {
              name: '皇工村'
            }, {
              name: '油坊庄村'
            }, {
              name: '黑梁湾村'
            }, {
              name: '塔西河村'
            }, {
              name: '冬麦地村'
            }, {
              name: '柴场村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            name: '梁洲户镇',
            children: [{
              name: '五圣宫村'
            }, {
              name: '西凉州户村'
            }, {
              name: '庄浪户村'
            }, {
              name: '东凉州户村'
            }, {
              name: '太阳庙村'
            }, {
              name: '丰益工村'
            }, {
              name: '黑梁村'
            }, {
              name: '吕家庄村'
            }, {
              name: '新渠村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            name: '六户地镇',
            children: [{
              name: '六户地村'
            }, {
              name: '杨家道村'
            }, {
              name: '土炮营村'
            }, {
              name: '陈家渠村'
            }, {
              name: '闯田地村'
            }, {
              name: '鸭洼坑村'
            }, {
              name: '三岔坪村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            name: '旱卡子滩乡',
            children: [{
              name: '闽玛生态村'
            }, {
              name: '头墩台子村'
            }, {
              name: '东岸村'
            }, {
              name: '石灰窑子村'
            }, {
              name: '头渠村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            name: '清水河乡',
            children: [{
              name: '牙湖村'
            }, {
              name: '红坑村'
            }, {
              name: '坎苏瓦特村'
            }, {
              name: '贝母房子村'
            }, {
              name: '团庄村'
            }, {
              name: '芦草沟村'
            }, {
              name: '乔亚巴斯陶村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            name: '塔西河乡',
            children: [{
              name: '牙湖村'
            }, {
              name: '红坑村'
            }, {
              name: '坎苏瓦特村'
            }, {
              name: '贝母房子村'
            }, {
              name: '团庄村'
            }, {
              name: '芦草沟村'
            }, {
              name: '乔亚巴斯陶村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            name: '玛纳斯镇',
            children: [{
              name: '牙湖村'
            }, {
              name: '红坑村'
            }, {
              name: '坎苏瓦特村'
            }, {
              name: '贝母房子村'
            }, {
              name: '团庄村'
            }, {
              name: '芦草沟村'
            }, {
              name: '乔亚巴斯陶村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            name: '试验站',
            children: [{
              name: '牙湖村'
            }, {
              name: '红坑村'
            }, {
              name: '坎苏瓦特村'
            }, {
              name: '贝母房子村'
            }, {
              name: '团庄村'
            }, {
              name: '芦草沟村'
            }, {
              name: '乔亚巴斯陶村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            name: '北五岔镇',
            children: [{
              name: '牙湖村'
            }, {
              name: '红坑村'
            }, {
              name: '坎苏瓦特村'
            }, {
              name: '贝母房子村'
            }, {
              name: '团庄村'
            }, {
              name: '芦草沟村'
            }, {
              name: '乔亚巴斯陶村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            name: '广东地乡',
            children: [{
              name: '牙湖村'
            }, {
              name: '红坑村'
            }, {
              name: '坎苏瓦特村'
            }, {
              name: '贝母房子村'
            }, {
              name: '团庄村'
            }, {
              name: '芦草沟村'
            }, {
              name: '乔亚巴斯陶村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            name: '兰州湾镇',
            children: [{
              name: '牙湖村'
            }, {
              name: '红坑村'
            }, {
              name: '坎苏瓦特村'
            }, {
              name: '贝母房子村'
            }, {
              name: '团庄村'
            }, {
              name: '芦草沟村'
            }, {
              name: '乔亚巴斯陶村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            name: '乐土驿站',
            children: [{
              name: '牙湖村'
            }, {
              name: '红坑村'
            }, {
              name: '坎苏瓦特村'
            }, {
              name: '贝母房子村'
            }, {
              name: '团庄村'
            }, {
              name: '芦草沟村'
            }, {
              name: '乔亚巴斯陶村'
            }, {
              level: 2,
              name: '返回'
            }]
          }, {
            level: 1,
            name: '返回'
          }]
        }],
        dataList2: [],
        tempList: []
        /* 2021-3-10 */
      }
    },
    created() {
      tick()
    },
    watch: {

    },
    mounted() {
      keyData1()
      keyData2()
      keyData3()
      keyData4()
      keyData5()
    },
    methods: {
      /* 2021-3-10 */
      getTownList(data) {
        this.dataList.forEach(e => {
          if (e.name == data) {
            this.dataList2 = e.children
            this.tempList = this.dataList2
            const map = document.getElementById("map")
            map.style.display = "none"
            const name = document.getElementById("name")
            name.style.display = "block"
          }
        });
      },
      getVillageList(data) {
        if (data.children) {
          this.dataList2.forEach(e => {
            if (e.name == data.name) {
              this.dataList2 = e.children
            }
          });
        }
        if (data.level == 1) {
          const map = document.getElementById("map")
          map.style.display = "block"
          const name = document.getElementById("name")
          name.style.display = "none"
        }
        if (data.level == 2) {
          this.dataList2 = this.tempList
        }
      }
      /* 2021-3-10 */
    }
  })
</script>

</html>