<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>科学分析</title>
  <link rel="stylesheet" href="../css/dataAnalysis.css">
  <link rel="stylesheet" href="../css/elementUI/lib-master/theme-chalk/index.css" />
</head>

<body>
  <div id="data" v-cloak>
    <div class="show-time" id="localtime"></div>
    <!-- 主体 -->
    <section class="mainbox">
      <!-- column1 -->
      <div class="column">
        <div class="column_box1">
          <div class="head_style">
            <div class="font_style">人员结构</div>
          </div>
          <el-carousel type="card" arrow="always" :loop="false" :initial-index="1" indicator-position="none"
            height="120px" :autoplay="false">
            <el-carousel-item v-for="(item, index) in data" :key="index">
              <div class="card_box">
                <div class="nickname">
                  {{item.name}}
                </div>
                <div class="nicknum">
                  {{item.num}}
                </div>
              </div>
            </el-carousel-item>
          </el-carousel>
        </div>
        <div class="column_box1">
          <div id="bar1" class="echarts_style"></div>
          <div class="chart"></div>
        </div>
        <div class="column_box1">
          <div id="bar2" class="echarts_style"></div>
          <div class="chart"></div>
        </div>
        <div class="column_box1">
          <div id="pie" class="echarts_style"></div>
          <div class="chart"></div>
        </div>
      </div>
      <!-- column2 -->
      <div class="column">
        <div class="column_box2">
          <div class="top">
            <ul class="clearfix">
              <li><a href="javascript:;" class="act">
                  <div class="title">数据分析</div>
                </a></li>
              <li><a href="javascript:;">
                  <div class="title">进度分析</div>
                </a></li>
              <li><a href="javascript:;">
                  <div class="title">效果分析</div>
                </a></li>
              <li><a href="javascript:;">
                  <div class="title">三双一服务</div>
                </a></li>
              <li><a href="javascript:;">
                  <div class="title">派单接单</div>
                </a></li>
              <li><a href="javascript:;">
                  <div class="title">队伍建设</div>
                </a></li>
              <li><a href="javascript:;">
                  <div class="title">村民说事</div>
                </a></li>
            </ul>
          </div>
        </div>
        <div class="column_box2">
          <div class="map">
            <div class="location1"></div>
            <div class="location1-1">呼图壁县</div>
            <div class="location2"></div>
            <div class="location2-1">玛纳斯县</div>
            <div class="location3"></div>
            <div class="location3-1">昌吉市</div>
            <div class="location4"></div>
            <div class="location4-1">阜康市</div>
            <div class="location5"></div>
            <div class="location5-1">吉木萨尔县</div>
            <div class="location6"></div>
            <div class="location6-1">奇台县</div>
            <div class="location7"></div>
            <div class="location7-1">木垒哈萨克自治州</div>
          </div>
        </div>
        <div class="column_box2">
          <div class="echarts">
            <div class="echarts_box" style="flex:1">
              <div class="pie1">
                <div>121</div>
              </div>
              <p class="title">村数</p>
            </div>
            <div class="echarts_box" style="flex:1">
              <div class="pie2">
                <div>113</div>
              </div>
              <p class="title">社区数</p>
            </div>
            <div class="echarts_box" style="flex:1">
              <div class="pie3">
                <div>123</div>
              </div>
              <p class="title">工作队数</p>
            </div>
            <div class="echarts_box" style="flex:1">
              <div class="pie4">
                <div>115</div>
              </div>
              <p class="title">党组织数</p>
            </div>
          </div>
        </div>
      </div>
      <!-- column3 -->
      <div class="column">
        <div class="column_box3">
          <div class="head_style">
            <div class="font_style">柱子结构</div>
          </div>
          <el-carousel type="card" arrow="always" :loop="false" :initial-index="1" indicator-position="none"
            height="120px" :autoplay="false">
            <el-carousel-item v-for="(item, index) in data" :key="index">
              <div class="card_box">
                <div class="nickname">
                  {{item.name}}
                </div>
                <div class="nicknum">
                  {{item.num}}
                </div>
              </div>
            </el-carousel-item>
          </el-carousel>
        </div>
        <div class="column_box3">
          <div class="name">村级党组织</div>
          <div id="bar3" class="echarts_style" style="height: 100%;"></div>
          <div class="chart"></div>
        </div>
        <div class="column_box3">
          <div class="name">社区党组织</div>
          <div id="bar4" class="echarts_style" style="height: 100%;"></div>
          <div class="chart"></div>
        </div>
      </div>
    </section>

  </div>
</body>
<script src="../js/flexible.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/dataAnalysis.js"></script>
<script src="../js/jquery.js"></script>
<script src="../js/vue/vue.js"></script>
<script src="../js/common.js"></script>
<script src="../css/elementUI/lib-master/index.js"></script>
<script>
  $(function () {
    $('.top ul li a').on('click', function () {
      $('.top ul li a').removeClass('act');
      $(this).addClass('act');
    })
  })
  new Vue({
    el: "#data",
    data() {
      return {
        data: [{
            name: '村干部',
            num: '30'
          }, {
            name: '社区干部',
            num: '30'
          }, {
            name: '工作队伍',
            num: '30'
          }, {
            name: '村干部1',
            num: '30'
          },
          {
            name: '村干部2',
            num: '30'
          }
        ],
      }
    },
    created() {
      tick()
    },
    watch: {

    },
    mounted() {
      keyData1()
      keyData2()
      keyData3()
      keyData4()
      keyData5()
    },
    methods: {}
  })
</script>

</html>